html{
    height: 100%;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.body-home{
    background-image: url(images/background-land.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.body-meals{
    background-image: url(images/background-land.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*========== HEADER ==========*/

.header{
    background-color: black;
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    overflow: hidden;
    text-align: center;
}

.header img{
    width: 70px;
    padding-top: 12px;
    padding-right: 30px;
}

.header i{
    float: left;
    padding-left: 15px;
    padding-top: 25px;
    color: whitesmoke;
}

/*========== HOME PAGE ==========*/

#home-logo-img{
    width: 300px;
    display: block;
    margin: auto;
    padding: 25px 10px 10px 10px;
}

/*========== HOME PAGE MENU ==========*/

.home-menu-item{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    color: whitesmoke;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    border: 2px solid whitesmoke;
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}

/*========== MEALS PAGE ==========*/

#meals{
    padding-top: 70px;
}

/*========== MEALS PAGE MENU ==========*/

.meals-list a{
    text-decoration: none;
}

.meals-list-item{
    border: 2px solid whitesmoke;
    margin: 10px;
}

.meals-list-item h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 25px;
    color: whitesmoke;
    padding-left: 10px;
}

.meals-list-item i{
    float: right;
    color: whitesmoke;
    padding-right: 20px;
}

.meals-list-item p{
    font-size: 15px;
    font-style: italic;
    color: gray;
    margin-top: -7px;
    padding-left: 10px;
}

/*========== ITEM PAGE ==========*/

#item{
    padding-top: 70px;
}

/*========== ITEM DETAILS ==========*/

.item-details img{
    width: 100%;
}

.item-details h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    border: 2px solid whitesmoke;
    margin: 10px;
    padding: 5px;
}

.item-details-info p{
    color: whitesmoke;
    font-size: 13px;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-details-extras h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 5px;
}

.item-details-extras label{
    line-height: 25px;
    margin-left: 10px;
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-details-writeup{
    color: whitesmoke;
    padding-left: 15px;
    padding-right: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-details-form{
    color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.item-details-form label{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.item-details-form input[type=text]{
    width: 85%;
    height: 60px;
    box-sizing: border-box;
    box-shadow: whitesmoke;
}

.item-details-form input[type=submit]{
    background-color: whitesmoke;
    border: 2px whitesmoke;
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.button {
    background-color: whitesmoke;
    color: black;
    text-decoration: none;
    align-items: center;
    width: 100%;
}

/*========== THANK YOU PAGE ==========*/

.thank-you h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    font-size: 25px;
    text-align: center;
    border: 2px solid whitesmoke;
    margin: 10px;
    padding: 5px;
}

/*========== RESPONSIVE LAYOUT ==========*/

@media only screen and (min-width: 600px) {
    #meals{
        width: 80%;
        margin: auto;
    }

    #items{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width: 1000px) {
    #meals{
        width: 60%;
        margin: auto;
    }

    #items{
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width: 720px) {
    .body-home{
        background-image: url('images/background-land.jpg');
    }

    .body-meals{
        background-image: url('images/background-land.jpg');
    }
}
